{% extends 'base-back.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block body %}
    <h1>Edit Partenaire</h1>

    {{ include('partenaire_Backend/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partenaire_index') }}">back to list</a>

    {{ include('partenaire_Backend/_delete_form.html.twig') }}
{% endblock %}
